


body{
  background-color: lightblue;
}


h1{

  background-color: lightpink;
}

h2{
  background-color: lightpink;
}

h3{
  background-color: lightpink; 
}

p {
  font-weight: bold;
}
